<h3>ars beta .010</h3>


<a href="{% url 'product:logout' %}">logout</a>
<a href="{% url 'product:eStore' %}">edit store info</a>

<h3>automated return system</h3>


<a href="{% url 'product:cItem' %}">create item</a>
<a href="{% url 'product:vItem' %}">list items</a>
<br>
<a href="{% url 'product:cPItem' %}">create Print Item rules</a>
<br>
<a href="{% url 'product:cCategory' %}">create Category</a>
<a href="{% url 'product:vCategory' %}">list Category</a>
<br>
<a href="{% url 'product:cReturnPolicy' %}">create Return Policy</a>
<br>
<br>
<a href=#>create transaction</a>
<br>
<a href=#>validate return</a>
<br>
<br>
<br>
<br>
<br>
<br>

<h2><b>Created by Amir and Johnatan</b></h2>
<h2><b>In Loving Memory Of Simeon Ajala</b></h2>
<h2><b>2000-2018</b></h2>
